<p style="padding-left:10px;">CSC 510</p>
<div style="height: 500px;" [options]="options" echarts >chart</div>
<p style="padding-left:10px;">CSC 515</p>
<div style="height: 500px;" [options]="options1" echarts >chart</div>
<p style="padding-left:10px;">CSC 505</p>
<div style="height: 500px;" [options]="options2" echarts >chart</div>
<p style="padding-left:10px;">CSC 570</p>
<div style="height: 500px;" [options]="options3" echarts >chart</div>
<p style="padding-left:10px;">CSC 573</p>
<div style="height: 500px;" [options]="options4" echarts >chart</div>
